/* General Styles */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: rgb(111, 208, 224);
    background: linear-gradient(0deg,rgb(111, 208, 224) 0%, rgb(171, 228, 167) 100%);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-family: 'Frijole', cursive;
    font-size: 3em;
    font-weight: 400;
}

h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 650px) {
    h1 {
        font-size: 5em;
    }
}

@media (min-width: 920px) {
    h1 {
        font-size: 8em;
    }
}

p {
    font-weight: 100;
}

.hidden {
    visibility: hidden;
}

/* Grid Styles */
#grid {
    background: #fff url(images/tracks.png) no-repeat;
    background-size: cover;
    display: flex;
    margin: 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex-wrap: wrap;
}

.grid-item {
    position: relative;
    width: 100%;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-item:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    /* z-index: -1; */
    top: 0;
    left: 0;
}

#grid .grid-item:after {
    content: '';
    padding-bottom: 50%;
    display: block;
}

.grid-item:nth-child(1){
    background-color: #009687f5;
}

.grid-item:nth-child(2){
    background-color: #dc7657f5;
}

.grid-item:nth-child(3){
    background-color: #4bb3c1fa;
}

.grid-item:nth-child(4){
    background-color: #fac069f9;
}

.grid-item:nth-child(5){
    background-color: #67a866f9;
}

.grid-item:nth-child(6){
    background-color: #b94169fa;
}

.grid-item:nth-child(7){
    background-color: #7f62b3fa;
}

.grid-item:nth-child(8){
    background-color: #9fc376f9;
}

.grid-item:nth-child(9){
    background-color: #677bcbfa;
}

@media (min-width: 550px) {
    #grid > div {
        width: calc(100% / 3);
    }
}

.grid-item-inner {
    position: relative;
}

.grid-item h3 {
    font-size: 2em;
    color: #eee;
}

.grid-item img {
    max-width: 100%;
    padding-bottom: 1em;
}

.grid-item .grid-item-inner p {
    color: #fff;
    font-size: 1.2em;
}

/* HUMAN */
.info {
    text-align: left;
    list-style: none;
}

.info li {
    font-size: 1.2em;
    color: #fff;
}

.info li span + span {
    margin-left: 4px;
}

/* .grid-item p {
    background: rgba(000,000,000, .3);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.8em 0.8em 1.8em;
    margin:0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
} */

/* Form Styles */
.form-container {
    background: #eee;
    padding: 1.3em;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

form p {
    margin-bottom: 0.3em;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

input {
    padding: 0.7em;
    background: #fff;
    border: 0;
}

.form-field__short {
    width: 25%;
    margin-right: 3%;
    box-sizing: border-box;
}

.form-field__full {
    width: 100%;
    box-sizing: border-box;
}

select {
    display: block;
}

#btn {
    display: inline-block;
    background: #ccc;
    padding: 0.8em;
    margin: 1.2em auto;
    transition: ease 0.3s all;
}

#btn:hover {
    background: #777;
    color: #fff;
    cursor: pointer;
}

/* Footer */
.fine-print {
    display: block;
    font-size: 0.7em;
}

